.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root, html, body{
  width: 100%;
  height: 100%;
}
body{
  padding: 25px;
}

.task-appear{
  opacity: 0.01;
}

.task-appear.task-appear-active{
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.task:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.task p{
  margin: 0;
  font-size: 1.5em;
}
