#root, html, body{
  width: 100%;
  height: 100%;
}
body{
  padding: 25px;
}

.task-appear{
  opacity: 0.01;
}

.task-appear.task-appear-active{
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.task:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.task p{
  margin: 0;
  font-size: 1.5em;
}

.task-container{
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
